data/.flows.json.backup
[{"id":"3b3edefe.a7f2b2","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"71105dd6.bb6dc4","type":"tab","label":"流程2","disabled":false,"info":""},{"id":"6f2da7e.2a51e58","type":"mqtt-broker","z":"","name":"local broken","broker":"192.168.0.5","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a7a4e635.580318","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"ddf6b2fc.0d1e2","type":"ui_group","z":"","name":"OCO：人孔蓋狀態感測器","tab":"a7a4e635.580318","order":1,"disp":true,"width":"6","collapse":true},{"id":"dbe761e2.515af","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#000000","baseFont":"Arial Black,Arial Black,Gadget,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":true},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"99a4361b.acf2d8","type":"mongodb","z":"","hostname":"210.61.208.7","port":"27017","db":"RestaurantData","name":""},{"id":"57de8b40.0dbd84","type":"inject","z":"3b3edefe.a7f2b2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":180,"wires":[["44de0b53.11b184"]]},{"id":"795c044c.f2e6ac","type":"debug","z":"3b3edefe.a7f2b2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":180,"wires":[]},{"id":"44de0b53.11b184","type":"function","z":"3b3edefe.a7f2b2","name":"","func":"var tmp = new Date(msg.payload);\nmsg.payload = tmp;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":180,"wires":[[]]},{"id":"266a5431.ebb6ec","type":"mqtt in","z":"71105dd6.bb6dc4","name":"oco","topic":"oco","qos":"0","datatype":"utf8","broker":"6f2da7e.2a51e58","x":150,"y":120,"wires":[["71bb938e.e8e31c"]]},{"id":"90fcd38f.7ce6e","type":"debug","z":"71105dd6.bb6dc4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":520,"y":120,"wires":[]},{"id":"71bb938e.e8e31c","type":"function","z":"71105dd6.bb6dc4","name":"","func":"var input = msg.payload;\nvar input_list =  input.split(\",\");\nvar output = {};\n// 處理狀態\nif(input_list[0] == \"C\"){\n    output[\"status\"] = \"關閉\"\n}\nelse if(input_list[0] == \"O\"){\n    output[\"status\"] = \"開啟\"\n}\nelse if(input_list[0] == \"U\"){\n    output[\"status\"] = \"未關好\"\n}\nelse{\n    output[\"status\"] = \"未知\"\n}\n\n// 處理傾斜角度和\noutput[\"angle\"] = Number(input_list[1]);\n\n// 處理超音波感測值\noutput[\"voice\"] = Number(input_list[2]);\n\nmsg.payload = output;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":120,"wires":[["90fcd38f.7ce6e","76f84029.47e9e","a9e53398.59c04","b29c1cdb.4f657","131c93e5.a42a1c"]]},{"id":"131c93e5.a42a1c","type":"mqtt out","z":"71105dd6.bb6dc4","name":"TransF_oco","topic":"TransF_oco","qos":"1","retain":"","broker":"6f2da7e.2a51e58","x":520,"y":160,"wires":[]},{"id":"76f84029.47e9e","type":"ui_text","z":"71105dd6.bb6dc4","group":"ddf6b2fc.0d1e2","order":1,"width":"0","height":"0","name":"","label":"狀態","format":"{{msg.payload.status}}","layout":"row-spread","x":500,"y":220,"wires":[]},{"id":"a9e53398.59c04","type":"ui_gauge","z":"71105dd6.bb6dc4","name":"","group":"ddf6b2fc.0d1e2","order":2,"width":"3","height":"3","gtype":"gage","title":"傾斜角度和","label":"units","format":"{{msg.payload.angle}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"45","seg2":"135","x":520,"y":260,"wires":[]},{"id":"b29c1cdb.4f657","type":"ui_gauge","z":"71105dd6.bb6dc4","name":"","group":"ddf6b2fc.0d1e2","order":3,"width":"3","height":"3","gtype":"donut","title":"超音波感測值","label":"","format":"{{msg.payload.voice}}","min":0,"max":"1000","colors":["#00dbd8","#008ee6","#3a43cb"],"seg1":"","seg2":"","x":530,"y":300,"wires":[]},{"id":"ed959e3a.34687","type":"mongodb in","z":"71105dd6.bb6dc4","mongodb":"99a4361b.acf2d8","name":"","collection":"2019","operation":"find","x":460,"y":380,"wires":[["f33d79d0.381ef8"]]},{"id":"f33d79d0.381ef8","type":"debug","z":"71105dd6.bb6dc4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":380,"wires":[]},{"id":"1a9ca180.3643ef","type":"inject","z":"71105dd6.bb6dc4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"Name\":\"PM3114_1_CT2\"}","payloadType":"str","x":200,"y":380,"wires":[["ed959e3a.34687"]]}]